@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Maven Pro", cursive;
  background-image: url(./img/bg.jpg);
  color: aliceblue;
  background-attachment: fixed;
}
header {
  background-color: rgba(6, 18, 23, 0.826);
}

.btn-nav {
  color: aliceblue !important;
  background-color: rgb(3, 56, 85);
}
.nav {
  background-color: rgba(6, 18, 23, 0.826);
  max-width: fit-content;
  padding: 10px 10px 10px 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 15px;
}
