body {
  background-color: #e1ffb7;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.box {
  border: 2px dotted #aaa719;
  background-color: #d4d37f;
  padding: 10px;
  width: 80%;
  text-align: center;
}

.box:last-child {
  margin-bottom: 0;
}

button.btn {
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
button.btn:hover {
  cursor: pointer;
}
textarea {
  display: flex;
  resize: none;
  background-color: #fafafa;
  border: 1.5px solid silver;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.7em;
  width: 90%;
  outline: none;
  margin: auto;
}

textarea:focus {
  border: 1.5px solid #6d79cd;
}

.btn.new:hover {
  background-color: rgb(234, 97, 97);
  border: 2px solid rgb(232, 98, 98);
  margin-bottom: 10px;
}

.btn.new {
  background-color: rgb(195, 92, 92);
  border: 2px solid rgb(195, 92, 92);
}

.btn.success {
  background-color: rgb(84, 204, 211);
  border: 2px solid rgb(65, 207, 215);
}

.btn.success:hover {
  background-color: rgb(92, 190, 195);
  border: 2px solid rgb(92, 190, 195);
}

.btn.light {
  background-color: rgb(92, 195, 126);
  border: 2px solid rgb(79, 167, 85);
}

.btn.light:hover {
  background-color: rgb(112, 255, 160);
  border: 2px solid rgb(79, 167, 85);
}

.btn.red {
  background-color: rgb(206, 110, 110);
  border: 2px solid rgb(167, 79, 79);
}
.btn.red:hover {
  background-color: rgb(255, 141, 141);
  border: 2px solid rgb(167, 79, 79);
}
.taskBody {
  white-space: pre-line;
  text-align: left;
}
